.top-bar {

  ul {
    background-color: #fff;
  }

  .dropdown.menu .submenu{
    background: $body-color;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li{
      padding: 10px 20px;
      float: left;

      a{
        border-bottom: 1px solid $border-color;
      }
    }
  }

  .gs-main-menu{
    border-top: thin solid $border-color;
  }

  .menu {

    li.menu-item {

      border-right: none;
      padding: 20px 35px 35px;

      a{
        color: $primary-color;
        display: block;
        padding: 15px 5px 0;
        text-transform: uppercase;
        font-family: $primary-font;
        font-weight: 400;

        @include em(18);
        border-bottom: 1px solid $border-color;
        transition: .3s ease;
        display: block;
        font-weight: 300;

        &:hover{
          border-bottom-color: $accent-color;
          border-width: 2px;
          background-color: #fff;
        }

      }

      &.active{
        a{
          border-bottom-color: $accent-color;
          border-width: 2px;
          background-color: #fff;
        }
      }

    }

  }

}
